.container{
    flex: content;
    display:flexbox;
    grid-template-columns: 3fr 3fr 3fr;
    column-gap: 10px;
    flex-direction: grid;
    justify-content: space-around;
    height: 20vh;
    font-size: 100px;
    grid-auto-rows: minmax(80px, auto); 
}
* {
   margin: 0px; 
   box-sizing: border-box; 
}

#load-now {
    border: 5px solid black;
    }
body {
    font-family: sans-serif;
    padding: 90 px 20 px 0;
}

.header{
    background-color: #0769e9;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}

.nav{
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.itemMenu{
    list-style: none;
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
    color: aquamarine;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover {
    background-color: #034574;
    transition: 0.5s;
}
.nav-link{
    color: aquamarine;
}
.nav-toggle{
    color: white;
    background-color: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display: none;
}

.caja{
    color: #2c3e50;
    text-align: center;
    font-size: 25px;
}
.caja0{
    color: #2c3e50;
    text-align:justify;
    font-size: 20px;
}
.caja1{
    color: #2c3e50;
    text-align: center;
}
.caja2{
    color: rgb(0, 0, 0);
    text-align: center;
}
.tabla1{
    font-size: 20px;
    border: 1px solid;
    text-align: center;
    display: flexbox;
    justify-content: center;
}

.cajafinal{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    background-color: #0769e9;
     color: white;
    text-align: center;
    display: flexbox;
    justify-content: space-between;
}
.cajaf{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

